header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 1px 1px 2px 2px rgb(78, 91, 123);
    background: white;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    z-index: 10000;
}
header{
    margin-bottom: 20vh;
}
.logo {
    font-size: 30px;
    color: blue;
}

header span {
    font-weight: 900;
    font-size: 25px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(84, 84, 84);
    font-weight: 500;
}

.nav-links li a:hover {
    color: blue;
}

.menu {
    display: none;
}

.close-btn{
    display: none;
}

/* for mobile */
@media screen and (max-width: 480px) {
    header {
        padding-left: 22px;
        padding-right: 22px;
    }

    header span {
        font-size: 19px;
    }

    .logo {
        font-size: 30px;
    }

    .menu{
        display: block;
        font-size: 21px;
    }

    .nav-links{
        position: fixed;
        top: 0px;
        right: -50%;
        width: 60%;
        height: 100vh;
        background: white;
        box-shadow: 2px 0 5px blue;
        flex-direction: column;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateX(70%);
    }

    .nav-links.active{
        right: 0;
        transform: translateX(0);
    }

    .close-btn{
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        font-size: 25px;
        display: block;
    }
    
}